.fieldContainer {
    margin-bottom: 1em;
    padding: 2em;
    &:hover {
        border: 1px solid greenyellow;
    }
    display: grid;
    grid-template-columns: 1fr min-content;
}

.section {}

.field {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
}

.fieldName {
    justify-self: end;
}

.fieldInput {
    justify-self: start;
    margin-left: 1em;
}

.deleteButton {
    background-color: none;
    padding: 5px 2px 2px 2px;
    align-self: center;
    margin-left: 1em;
    &:hover {
        background-color: lightcoral;
    }
    border: none;
}